.msg ul {
    width: 90%;
    margin: 0 auto;
    font-size: 18px;
    line-height: 2.5;
}

.msg ul li {
    text-align: center;
}

.msg label {
    width: 30%;
    display: inline-block;
    box-sizing: border-box;
    text-align: right;
    margin-right: 20px;
}

.msg .input {
    display: inline-block;
    /*box-sizing: border-box;*/
    width: 50%;
}

.msg .input select {
    width: 180px;
}

.msg input {
    width: 180px;
}

.msg .msg-btn {
    background-color: rgb(236, 108, 108);
    border: none;
    outline: none;
    border-radius: 2px 2px 2px 2px;
    color: #fff;
    cursor: pointer;
    line-height: 2;
}